<div class="card p-3">
  <h4>Categorías</h4>

  <input
    class="form-control mt-3"
    placeholder="Buscar categoría"
    [ngModel]="search()"
    (ngModelChange)="search.set($event)"
  />

  <div class="form-check mt-3">
    <input
      type="checkbox"
      class="form-check-input"
      [checked]="onlyActive()"
      (change)="onlyActive.set($any($event.target).checked)"
    />
    <label class="form-check-label"> Solo activos </label>
  </div>

  <div class="mt-4 d-flex flex-column gap-2">
    @for (category of filteredCategories(); track category.id) {
      <div class="card p-3 category-item" (click)="openCategory(category)">
        <div class="fw-bold">🏷️ {{ category.name }}</div>
        <span class="badge" [class]="category.status === 'INACTIVO' ? 'bg-danger' : 'bg-success'">
          {{ category.status }}
        </span>
      </div>
    }
  </div>
</div>

<app-category-detail-modal />