<div class="container py-3">
  @if (!canListCategory && !canCreateCategory && !canListTag && !canCreateTag) {
    <div class="text-center mt-5">
      <h4>No tienes permisos para este módulo</h4>
      <a routerLink="/dashboard" class="btn btn-primary mt-3"> Volver al dashboard </a>
    </div>
  } @else {
    @if (canCreateCategory) {
      <app-category-create-fragment />
    }
    @if (canListCategory) {
      <app-category-list-fragment />
    }

    <hr class="my-4" />

    @if (canCreateTag) {
      <app-tag-create-fragment />
    }
    @if (canListTag) {
      <app-tag-list-fragment />
    }
  }
</div>