:host {
  --my-blue: #003b94;
}
.bg-success {
  background-color: var(--color-success) !important;
  color: white !important;
}

.bg-primary {
  background-color: var(--color-primary) !important;
  color: white !important;
}
.bg-info {
  color: #062128 !important;
}
.text-info {
  color: #062128 !important;
}

.my-blue-btn:hover {
  background-color: var(--my-blue);
  color: #ffffff;
  border: 1px solid var(--my-blue);
}

.my-blue-btn {
  min-height: 44px;
  background-color: var(--color-background);
  color: var(--my-blue);
  border: 1px solid var(--my-blue);
}

.my-alt-blue-btn {
  background-color: var(--my-blue);
  color: #ffffff;
  border: 1px solid var(--my-blue);
}

.my-alt-blue-btn:hover {
  background-color: var(--color-background);
  color: var(--my-blue);
  border: 1px solid var(--my-blue);
}
