.hamburger-button {
  border: none;

  background: solid;
  background-color: var(--color-primary);
  color: var(--color-background);
  font-size: 24px;
  width: 40px;
  height: 40px;

  cursor: pointer;

  border-radius: 5.9px;
}
