<div class="card p-3">
  <h4>Usuarios</h4>

  <input
    class="form-control mt-3"
    placeholder="Buscar usuario"
    [ngModel]="search()"
    (ngModelChange)="search.set($event)"
  />

  @if (authState.hasPermission('USER_LIST_ACTIVE')) {
    <div class="form-check mt-3">
      <input
        type="checkbox"
        class="form-check-input"
        [checked]="onlyActive()"
        (change)="onlyActive.set($any($event.target).checked)"
      />

      <label class="form-check-label"> Solo activos </label>
    </div>
  }

  <div class="mt-4 d-flex flex-column gap-2">
    @for (user of filteredUsers(); track user.user_id) {
      <div class="card p-3 user-item" (click)="openUser(user)">
        <div class="fw-bold">👤 {{ user.name }} {{ user.lastname }}</div>

        <small>
          {{ user.role }}
        </small>
      </div>
    }
  </div>
</div>

<app-user-detail-modal />
